<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit firmware</h3>
    </div>
    <div class="modal-body" file-drop-zone="firmwareFile">
        <form name="firmwareForm">
            <div class="form-group">
                <label>Firmware ID</label> 
                <input type="text" ng-model='firmware.firmwareIdHex' class="form-control" readonly required>
            </div>
            <div class="form-group">
                <label>Firmware Name</label> 
                <input type="text" name="firmwareName" ng-model='firmware.firmwareName' class="form-control" readonly required>
            </div>
            <div class="form-group" ng-class="{'has-error' : firmwareForm.firmwareVersion.$invalid}">
                <label>Firmware Version</label> 
                <input type="number" name="firmwareVersion" ng-model='firmware.firmwareVersion' ng-init="initialFirmwareVersion = firmware.firmwareVersion" class="form-control" required min="1" max ="65535" already-defined-firmware-version-validator="initialFirmwareVersion">
                <p class="help-block" ng-show="firmwareForm.firmwareVersion.$error.alreadyDefinedFirmwareVersionValidator">This version already exists.</p>
            </div>
            <div class="form-group">
                <label>Firmware Description</label> 
                <textarea name="firmwareDescription" ng-model='firmware.firmwareDescription' class="form-control" placeholder="Description"></textarea>
            </div>
            <div class="form-group" ng-class="{'has-error' : firmwareForm.compatibleModels.$invalid}">
                <label>Compatible Models</label> 
                <input type="text" name="compatibleModels" ng-list="," ng-model='firmware.firmwareCompatibleModels' class="form-control"
                    ng-pattern="/^([a-zA-Z0-9\-\._ ]{0,16})$|(^([a-zA-Z0-9\-\._ ]{1,16})((,[a-zA-Z0-9\-\._ ]{1,16})*)$)/" placeholder="Compatible models (comma separated). All if empty.">
                <p class="help-block">Comma separated list. If empty, compatible with all models. Each model name allows up to 16 alpha-numeric characters (-._ and spaces are allowed)</p>
            </div>
            <div class="form-group">
                <label>Firmware file</label>
                <div class="input-group">
                    <span class="input-group-btn"> <span class="btn btn-primary btn-file">Browse… <input
                            type="file" file-model="firmwareFile" id="firmwareFileInput">
                    </span>
                    </span> <input type="text" class="form-control" readonly ng-model="firmwareFile.name" ng-click="browseFile()"> <span
                        class="input-group-btn"> <span class="btn btn-default" ng-click="firmwareFile = null">Clear</span>
                    </span>
                </div>
                <p class="help-block">If specified, will replace the current firmware file. iHex or binary file.</p>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="firmwareForm.$invalid" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>