html, body {
	height: 100%;
}

body {
	padding-top: 70px;
}

.domodules-list {
	max-height: 300px;
	overflow: auto;
}

.domoduleName {
	display: inline;
}

.domoduleName span {
	font-weight: bold;
}

.commandName {
	display: inline;
}

.commandName span {
	font-weight: bold;
}

.commandSetName span{
	font-weight: bold;
}

.commandList {
	max-height: 300px;
	overflow: auto;
}

.commandItem {
	margin-left: 40px;
	margin-right: 40px;
}

.parameterList {
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
}

.popover {
	min-width: 400px;
}

.margin-top-05 { margin-top: 0.5em; }
.margin-top-10 { margin-top: 1.0em; }
.margin-top-15 { margin-top: 1.5em; }
.margin-top-20 { margin-top: 2.0em; }
.margin-top-25 { margin-top: 2.5em; }
.margin-top-30 { margin-top: 3.0em; }

.margin-top-05px { margin-top: 5px; }
.margin-top-10px { margin-top: 10px; }
.margin-top-15px { margin-top: 15px; }
.margin-top-20px { margin-top: 20px; }
.margin-top-25px { margin-top: 25px; }
.margin-top-30px { margin-top: 30px; }