<div>
    <div class="modal-header">
        <h3 class="modal-title">Edit domodule ID rule</h3>
    </div>
    <div class="modal-body">
        <form name="ruleForm">
            <div class="form-group" ng-class="{'has-error' : ruleForm.domoduleId.$invalid}">
                <label>Domodule ID</label> 
                <input type="text" name="domoduleId" ng-model='domoduleIdRule.domoduleId' class="form-control" disabled>
            </div>
            <div class="form-group" ng-class="{'has-error' : !domoduleIdRule.firmwareIdHex}">
                <label>Firmware</label>
                <div class="row">
                    <div class="col-md-12">
                        <div class="list-group domodule-id-rule-firmwares-list">
                            <div class="list-group-item" ng-repeat="(groupFirmwareIdHex, groupFirmwares) in firmwares | orderBy: 'firmwareVersion' : true | groupBy: 'firmwareIdHex'">
                                <h4><span class="domodule-model-rule-firmware-name">{{groupFirmwares[0].firmwareName}}</span>&nbsp;(Id: {{groupFirmwareIdHex}})</h4>
                                <div class="list-group">
                                    <div class="list-group-item" ng-class="{active: latestVersionActive = domoduleIdRule.firmwareIdHex == groupFirmwareIdHex && domoduleIdRule.firmwareVersion == null}"
                                        ng-click="domoduleIdRule.firmwareIdHex = groupFirmwareIdHex; domoduleIdRule.firmwareVersion = null" ng-init="firmware = groupFirmwares[0]">
                                        <h6 class="firmwareVersion">Latest version</h6>
                                        <span class="glyphicon glyphicon-question-sign pull-right margin-glyphicon" uib-popover-template="'ui/templates/firmwares/firmwareDetailsPopover.html'" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="left"></span>
                                        <span class="glyphicon glyphicon-ok pull-right margin-glyphicon"  ng-show="latestVersionActive"></span>
                                    </div>
                                    <div class="list-group-item" ng-repeat="firmware in groupFirmwares" ng-class="{active: currentVersionActive = domoduleIdRule.firmwareIdHex == groupFirmwareIdHex && domoduleIdRule.firmwareVersion == firmware.firmwareVersion }" ng-click="domoduleIdRule.firmwareIdHex = groupFirmwareIdHex; domoduleIdRule.firmwareVersion = firmware.firmwareVersion">
                                        <h6 class="firmwareVersion">Version {{firmware.firmwareVersion}}</h6>
                                        <span class="glyphicon glyphicon-question-sign pull-right margin-glyphicon" uib-popover-template="'ui/templates/firmwares/firmwareDetailsPopover.html'" popover-trigger="mouseenter" popover-popup-delay="200" popover-placement="left"></span>
                                        <span class="glyphicon glyphicon-ok pull-right margin-glyphicon" ng-show="currentVersionActive"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <p class="help-block" ng-show="!domoduleIdRule.firmwareIdHex">The previously selected firmware no more exists. Select a new firmware version.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Force Compatibility</label>
                <div class="checkbox" style="margin: 0px;">
                    <input type="checkbox" name="forceCompatibility" ng-model="domoduleIdRule.forceCompatibility">
                    <label></label>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Force Update</label>
                <div class="checkbox" style="margin: 0px;">
                    <input type="checkbox" name="forceUpdate" ng-model="domoduleIdRule.forceUpdate">
                    <label></label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="ruleForm.$invalid || !domoduleIdRule.firmwareIdHex" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>